# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg-info/
.tox/
.venv/
venv/
env/

# Editors
.vscode/
.idea/

# OS
.DS_Store
.Trashes
Thumbs.db

# Logs and data
*.log
*.sqlite3
*.db

# AI related
.env
history.html
timeline.png
contributors.png
